#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  background-color: #333;
  border: solid red 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-container__twitter-card {
  background-color: transparent;
  width: 400px;
  height: 100px;
  border: solid green 1px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.card-container__twitter-card-image {
  border-radius: 50%;

}

.card-container__twitter-card-profile {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;


}

.card-container__twitter-card-profile>* {
  margin: 0;
  padding: 0;

}

.twitter-card-btn {
  width: 90px;
  height: 30px;
  color: #333;
  font-size: 14px;
  background-color: white;
  border-radius: 15px;
  border: 1px #333 solid;
}

.twitter-card-btn:hover {
  opacity: 0.6;
}

.twitter-card-btn:active {
  transform: scale(.95);
}

.twitter-card-btn.isFollowing {
  color: white;
  font-size: 14px;
  border: 1px white solid;
  background-color: transparent;
}

.twitter-card-btn.isFollowing:hover {

  color: red;
  font-size: 14px;
  border: 1px red solid;
  font-weight: bold;
  background-color: rgb(116, 14, 14, .3);
}