#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #221;
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.ttt-container {
  border: 1px green solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.ttt-resetButton {
  border: 2px gray solid;
  background-color: gray;
  border-radius: 10px;
  height: 30px;
  width: 100px;
  cursor: pointer;
  transition: all 0.1s ease;
}

.ttt-resetButton:active {
  transform: scale(.95);
  opacity: 0.8;
  background-color: #221;
}

.ttt-gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: 1px red solid;
  margin: 1.5rem;
  padding: 0;
}

.ttt-gameContainer-box {
  height: 75px;
  width: 75px;
  border: 1px white solid;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  cursor: pointer;
  font-size: 25px;

}

.ttt-gameContainer-box:hover {
  background-color: rgba(240, 5, 5, 0.1);
}

.ttt-turnsContainer-box {
  height: 75px;
  width: 75px;
  border: 1px white solid;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  font-size: 25px;


}

h2 {
  margin-top: 0;
}

.ttt-turnsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;

}



.ttt-winnerModal {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-color: rgb(17, 17, 1, .8);
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}